* {
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}

.banner-div {
  background: url("/images/banner/banner2.png") no-repeat center;
  width: 100%;
  height: 600px;
  text-align: right;
  background-size: cover;
  padding-right: 25px;
}

.banner-title {
  font-weight: 700;
  font-size: 65px;
  padding-top: 130px;
  padding-right: 200px;
  color: #151414;
}

.banner-description {
  font-weight: 400;
  font-size: 16px;
  padding-top: 22px;
  padding-right: 200px;
  color: #444343;
  padding-bottom: 34px;
}
.banner-btn {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: #f15b22;
  border-radius: 5px;
  border: 0;
  margin-right: 200px;
  padding: 21px 22px 20px 23px;
}
/* failure section */
main,
footer {
  max-width: 1740px;
  margin: 0 auto;
}
.failure-section {
  display: flex;
}
.person-img {
  width: 569px;
  height: 723.3px;
  padding-top: 130px;
  padding-left: 174px;
}
.failure-title {
  font-weight: 700px;
  font-size: 50px;
  color: #151414;
  padding-top: 379px;
  padding-left: 131px;
}
.failure-description {
  padding: 24px 310px 12px 131px;

  font-weight: 400;
  font-size: 16px;
  color: #444343;
}
.items {
  padding: 12px 310px 18px 131px;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
}
.tick-mark {
  height: 16px;
  width: 16px;
  color: green;
}
.item {
  padding: 4px;
  white-space: nowrap;
}
/* plan-section */
.plan-div {
  display: flex;

  justify-content: space-between;
  padding-left: 230px;
  padding-right: 230px;
}
.plan-img {
  width: 92px;
  height: 92px;
  padding-bottom: 25px;
}
.plan-title,
.hobby-title {
  font-weight: 800;
  font-size: 45px;
  color: #151414;
  text-align: center;
  padding-top: 102px;
  padding-bottom: 50px;
}
.plan-desc {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  text-align: center;
  padding-bottom: 13px;
  padding-right: 25px;
  padding-left: 8px;
}

.plan-text {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}
.plan {
  text-align: center;
}
.hobby {
  display: flex;
  justify-content: space-around;
  padding-bottom: 124px;
}

.hobby-img {
  width: 92px;
  height: 92px;
  padding-bottom: 20px;
}
/* positive-section */
.positive-section {
  background: url("images/watch.png"),
    linear-gradient(90deg, #e65d28 0%, rgba(241, 91, 34, 0) 100%);
  border-radius: 8px;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  width: 1000px;
  height: 300px;
  background-position: center;
  margin-left: 290px;
  margin-bottom: 130px;
}
.positive-title {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  padding-top: 59px;
  padding-left: 64px;
}
.positive-btn {
  font-weight: 600;
  font-size: 16px;
  color: #f15b22;

  border: 0;
  margin-top: 9px;
  margin-left: 65px;
  padding: 21px 22px 20px 23px;
  background: #ffffff;
  border-radius: 5px;
  width: 160px;
  height: 64px;
}
/* footer section */
.footer {
  display: flex;
  background: #151414;
  max-width: 100%;
  height: 600px;
  background-size: cover;
}
.footer-div {
  width: 50%;
}
.footer-title {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  padding-bottom: 16px;
  padding-top: 130px;
  padding-left: 230px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  padding-left: 230px;
  padding-bottom: 29px;
}
.footer-img-1 {
  padding-left: 230px;
  padding-right: 5px;
}
.footer-img-2 {
  padding-left: 5px;
  padding-right: 5px;
}
/* footer-div-2 */
.footer-title-2 {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  padding-top: 130px;
  padding-left: 331px;
  padding-bottom: 28px;
}
.email-btn {
  border: 1px solid #6d6c6c;
  margin-left: 331px;
  background: #151414;
  color: white;
  padding: 21px 140px 21px 22px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.footer-btn {
  font-weight: 500;
  font-size: 20px;
  background: #ffffff;
  border-radius: 8px;
  color: #f15b22;
  margin-left: 331px;
  padding: 17px 20px 15px 16px;
  width: 170.11px;
  height: 64px;
}
.footer-div-2 {
  margin-right: 25px;
}
